@charset "UTF-8";

/* Global Content Formatting and Styles */

* {
	margin: 0;
	padding: 0;
}

nav {
	width: 100%;
	display: block;
	position: fixed;
	background-color: #000000;
	text-align: center;
	height: 2.5em;
	opacity: 0.92;
	top: 0;
	margin: 0;
	bottom: 0;
	z-index:1000
}

nav a {
	color: #fff;
	font-family: Helvetica;
	text-transform: uppercase;
	text-decoration: none; /* links won't be underlined */
	display: inline-block; /* anchor links will have more dimensions based on proportions  */
	font-weight: bold;
	font-size: .8em;
	line-height: 1.7em;
	margin: 0.75em 0px 0.75em 1em; /* Spaces out the navigation area so that we have space around anchor tags, plus space from each other */
}

nav a:hover {
	color: #8CC63E;
}

#intro_section_nav {
	display: none;
}

.inside_image_1 {
	top: -0.1px;
	padding: 0px;
	background: url(../images/crop_circles_hero_background_opacity.jpg) 0 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin: 0 auto;
	height: 23.1em;
	width: 100%;
	position: relative; 
} 

.inside_image_2 {
	content: url(../images/crop_circle_white_logo.png) 0 0;
	background-repeat: no-repeat;
	height: 9em;
	top: -0.5em;
	position: relative; 
	vertical-align: middle;
	margin: 8.3em auto 0 auto;
	padding: 0;
}

.intro_section {
	padding: 2em 0 0 2em;
	margin-bottom: 2em;
	font-family: Helvetica, sans-serif;
}

.intro_section h1{
	content: url(../images/crop_crcles_mission_script.png) 0 0;
	background-repeat: no-repeat;
	height: 2em;
	text-align: center;
	margin: 0.22em auto 0 auto;
}

.intro_section p {
	margin: 2em 4em 0 2.5em;
	text-align: justify;
	word-wrap: normal;
}

.video_section {
	font-family: Helvetica, sans-serif;
	text-align: center;
	padding-bottom: 2em;
	font-size: 0.8em;
	text-transform: uppercase;
}

.video_section iframe {
	margin-top: 2em;
}

.plan_image {
	top: -0.1px;
	padding-bottom: 1em;
	background: url(../images/carrot_hero_background_opacity.jpg) 0 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 20.9em;
	overflow-x:hidden;
	width: 100%;
	position: relative; 
}

.plan_image_2 {
	content: url(../images/plan_new_png.png) 0 0;
	background-repeat: no-repeat;
	height: 18em;
	top: 1.8em;
	position: relative; 
	vertical-align: middle;
	margin: 0 auto;
}

#plan_before {
	margin-bottom: 4.1em;
}

.plan {
	margin-bottom: 2em;
	font-family: Helvetica, sans-serif;
	position: relative;
}

.plan_content h1{
	margin: 1em 0 0 1.98em;
	display: inline-block;
}

.plan_content h3 a {
	display: inline-block;
	float: left;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.8em;
}

.plan_content h3 a:hover {
	color: #8CC63E;
}

.plan_content p {
	margin: 2em 4em 0 4em;
	text-align: justify;
	text-justify: inter-word;
	word-wrap: normal;
	clear: both;
}

.planner_image {
	position: relative; 
	margin: 4em auto 0 auto;
	text-align: center;
}

.circle_image {
	padding-bottom: 1em;
	background: url(../images/tomato_hero_background_opacity.jpg) 0 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 20.9em;
	width: 100%;
	overflow-x:hidden;
	position: relative; 
}

.circle_image_2 {
	content: url(../images/crcle_new_png.png) 0 0;
	background-repeat: no-repeat;
	height: 18em;
	top: 1.8em;
	position: relative; 
	vertical-align: middle;
	margin: 0 auto;
	padding-left: 0.5em;
}

#circle_before {
	margin-bottom: 4.4em;
}


.circle {
	margin-bottom: 2em;
	font-family: Helvetica, sans-serif;
}

.circle_content h1{
	margin: 1em 0 0 1.94em;

}

.circle_content p {
	margin: 2em 4em 0 4em;
	text-align: justify;
	word-wrap: normal;
}

.crcle_image_imac {
	position: relative; 
	margin: 4.25em auto 0 auto;
	text-align: center;
}

.journal_image {  
	padding-bottom: 1em;
	background: url(../images/journal_hero_black.png) 0 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 20.9em;
	width: 100%;
	overflow-x:hidden;
	position: relative; 
}

.journal_image_2 {  
	content: url(../images/journal_new_png.png) 0 0;
	background-repeat: no-repeat;
	height: 18em;
	top: 1.9em;
	position: relative; 
	vertical-align: middle;
	margin: 0 auto;
	padding-left: 0.5em;
}

#journal_before {
	margin-bottom: 4.1em;
}

.journal {
	margin-bottom: 2em;
	margin-top: 2em;
	font-family: Helvetica, sans-serif;
}

.journal_content h1{
	margin: 1em 0 0 1.98em;

}

.journal_content p {
	margin: 2em 4em 0 4em;
	text-align: justify;
	word-wrap: normal;
}

.journal_image_entry {
	position: relative; 
	margin: 4em auto 0 auto;
	text-align: center;
}

.about_image {
	padding-bottom: 1em;
	background: url(../images/girl_hero_background_opacity.jpg) 0 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 20.9em;
	overflow-x:hidden;
	width: 100%;
	position: relative; 
}

.about_image_2 {  
	content: url(../images/about_new_png.png) 0 0;
	background-repeat: no-repeat;
	height: 16em;
	top: 2.8em;
	position: relative; 
	vertical-align: middle;
	margin: 0 auto;
	padding-left: 0.5em;
}

#about_before {
	margin-bottom: 4em;
}

.about {
	margin-bottom: 3.2em;
	font-family: Helvetica, sans-serif;
}

.about_content h1{
	margin: 1em 0 0.9em 2.45em;
}

.about_content h1.team {
	margin-bottom: 1em;
}

.about_content h2 {
	font-size: 1.2em;
	padding-bottom: 0;
	margin: 0em 0em 0em 5.8em;
}

.about_content h3 {
	font-style: italic;
	font-weight: lighter;
}

.about_content p {
	margin: 1em 5em 1em 5em;
	text-align: justify;
	text-justify: inter-word;
	word-wrap: normal;
}

.about_content p.bio {
	margin: 1em 5em 1em 5em;
	text-align: justify;
	word-wrap: normal;
	position: relative;
}

.bioimage_1 {
	content: url(../images/april_circle_export.jpg) 0 0;
	height: 100px;
	width: 100px;
	position: relative;
	float: left;
	margin: 0 1em 1em 5em; 
}

.bioimage_2 {
	content: url(../images/kayleen_circle_export.jpg) 0 0;
	height: 100px;
	width: 100px;
	position: relative;
	float: left;
	margin: 0 1em 1em 5em; 
}

.bioimage_3 {
	content: url(../images/josh_circle_export_2.jpg) 0 0;
	height: 100px;
	width: 100px;
	position: relative;
	float: left;
	margin: 0 1em 1em 5em; 
}

.bio_3 {
	margin-bottom: 1.7em;
}

.bioimage_4 {
	content: url(../images/taymar_circle_export_2.jpg) 0 0;
	height: 100px;
	width: 100px;
	position: relative;
	float: left;
	clear: both;
	margin: 0 1em 1em 5em; 
}

.site_footer {
	height: 3em;
  	background: #000000
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.contact_form {
	margin-left: 4.55em;
}

iframe {
	margin: 1.24em auto -5.8em auto;
	width: 33em;
	padding: 0;
	text-align: center;
}

.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

@media screen and (min-width: 546px) and (max-width: 610px) {
	iframe {
		margin: 1.24em auto -5.8em auto;
		width: 27em;
		padding: 0;
		text-align: center;
	}

	.inside_image_2 {
		content: url(../images/crop_circle_white_logo.png) 0 0;
		background-repeat: no-repeat;
		height: 8.2em;
		top: -0.9em;
		position: relative; 
		vertical-align: middle;
		margin: 9.0em auto 0 auto;
		padding: 0;
	}

	.intro_section p {
		margin: 2em 2.5em 0 2.5em;
		text-align: justify;
		word-wrap: normal;
	}

	.plan_content h1 {
		position: relative;
		right: 0.74em;
	}

	.plan_content p {
		margin: 2em 2.5em 0em 2.5em;
		text-align: justify;
		text-justify:inter-word;
		word-wrap: normal;
	}

	.journal_content h1 {
		position: relative;
		right: 0.74em;
	}

	.journal_content p {
		margin: 2em 2.5em 0em 2.5em;
		text-align: justify;
		word-wrap: normal;
	}

	.circle_content h1 {
		position: relative;
		right: 0.74em;
	}

	.circle_content p {
		margin: 2em 2.5em 0em 2.5em;
		text-align: justify;
		word-wrap: normal;
	}

	.about_content h2 {
		font-size: 1.05em;
		margin: 0em 0em 1.2em 4.1em;
	}

	.video-container iframe,
	.video-container object,
	.video-container embed {
	    position: relative;
	    top: 0;
	    left: 0;
	    width: 42em;
	    height: 26em;
	}

}

@media screen and (min-width: 467px) and (max-width: 545px) {
	iframe {
		margin: 1.24em auto -5.8em auto;
		width: 25em;
		padding: 0;
		text-align: center;
	}

	.inside_image_2 {
		content: url(../images/crop_circle_white_logo.png) 0 0;
		background-repeat: no-repeat;
		height: 7em;
		top: -0.3em;
		position: relative; 
		vertical-align: middle;
		margin: 9.0em auto 0 auto;
		padding: 0;
	}

	.intro_section h1{
		content: url(../images/crop_crcles_mission_script.png) 0 0;
		background-repeat: no-repeat;
		height: 1.8em;
		text-align: center;
		margin: 0.22em auto 0 auto;
	}

	.intro_section p {
		margin: 2em 4em 0 2.5em;
		text-align: justify;
		word-wrap: normal;
	}

	.plan_content h1 {
		position: relative;
		right: 0.74em;
	}

	.plan_content p {
		margin: 2em 2.5em 0em 2.5em;
		text-align: justify;
		text-justify:inter-word;
		word-wrap: normal;
	}

	.journal_content h1 {
		position: relative;
		right: 0.74em;
	}

	.journal_content p {
		margin: 2em 2.5em 0em 2.5em;
		text-align: justify;
		word-wrap: normal;
	}

	.circle_content h1 {
		position: relative;
		right: 0.74em;
	}

	.circle_content p {
		margin: 2em 2.5em 0em 2.5em;
		text-align: justify;
		word-wrap: normal;
	}

	.about_content h2 {
		font-size: 0.95em;
		margin: 0em 0em 1.2em 4.1em;
	}


	.video-container iframe,
	.video-container object,
	.video-container embed {
	    position: relative;
	    top: 0;
	    left: 0;
	    width: 36em;
	    height: 23em;
	}
}

@media screen and (min-width: 428px) and (max-width: 466px) {
	iframe {
		margin: 1.24em auto -5.8em auto;
		width: 22em;
		padding: 0;
		text-align: center;
	}

	.inside_image_2 {
		content: url(../images/crop_circle_white_logo.png) 0 0;
		background-repeat: no-repeat;
		height: 6.3em;
		top: 9em;
		position: static; 
		vertical-align: middle;
		margin: 9.1em auto 0 auto;
		padding-left: 0.2em;
	} 

.intro_section h1{
	content: url(../images/crop_crcles_mission_script.png) 0 0;
	background-repeat: no-repeat;
	height: 1.6em;
	text-align: center;
	margin: 0.2em auto 0 auto;
}

	.intro_section p {
		margin: 2em 2.5em 0 1em;
		text-align: justify;
		word-wrap: normal;
	}

	.plan_content h1 {
		position: relative;
		right: 0.74em;
	}

	.plan_content p {
		margin: 2em 2.5em 0em 2.5em;
		text-align: justify;
		text-justify:inter-word;
		word-wrap: normal;
	}

	.journal_content h1 {
		position: relative;
		right: 0.74em;
	}

	.journal_content p {
		margin: 2em 2.5em 0em 2.5em;
		text-align: justify;
		word-wrap: normal;
	}

	.circle_content h1 {
		position: relative;
		right: 0.74em;
	}

	.circle_content p {
		margin: 2em 2.5em 0em 2.5em;
		text-align: justify;
		word-wrap: normal;
	}

	.about_content h2 {
		font-size: 0.85em;
		margin: 0em 0em 1.2em 4.1em;
	}

	.video-container iframe,
	.video-container object,
	.video-container embed {
	    position: relative;
	    top: 0;
	    left: 0;
	    width: 33em;
	    height: 22em;
	}
}

@media screen and (min-width: 320px) and (max-width: 427px) {

	iframe {
		margin: 1.24em auto -5.8em auto;
		width: 20em;
		padding: 0;
		text-align: center;
	}

body, html {
	overflow-x:hidden;
}

nav {
	width: 100%;
	display: block;
	margin-left: 1.2em;
	position: fixed;
	background-color: #000000;
	text-align: center;
	height: 4.4em;
	opacity: 0.92;
	top: 0;
	margin: 0;
	bottom: 0;
	z-index:1000
}

nav a {
	color: #fff;
	font-family: Helvetica;
	text-transform: uppercase;
	text-decoration: none; /* links won't be underlined */
	display: inline-block; /* anchor links will have more dimensions based on proportions  */
	font-weight: bold;
	font-size: 1.25em;
	line-height: 1.25em;
	margin: 1.15em 0.75em 1.15em 0.50em; /* Spaces out the navigation area so that we have space around anchor tags, plus space from each other */
}

	body {
		font-size: 0.75em;
		margin-right: 0em;
		margin-left: 0em;
		padding-left: 0em;
		padding-right: 0em;
	}

	.inside_image_2 {
		content: url(../images/crop_circle_white_logo.png) 0 0;
		background-repeat: no-repeat;
		height: 5.65em;
		top: 9em;
		position: static; 
		vertical-align: middle;
		margin: 9.4em auto 0 auto;
		padding-left: 0.5em;
	} 

	.intro_section h1{
		content: url(../images/crop_crcles_mission_script.png) 0 0;
		background-repeat: no-repeat;
		height: 1.8em;
		text-align: center;
		position: relative;
		right: 0.3em;
		margin: 0.22em auto 0 auto;
	}

	.intro_section p {
		margin: 2em 2.5em 0 1em;
		text-align: justify;
		word-wrap: normal;
	}

	.plan_content h1 {
		position: relative;
		right: 0.74em;
	}

	.plan_content p {
		margin: 2em 2.5em 0em 2.5em;
		text-align: justify;
		text-justify:inter-word;
		word-wrap: normal;
	}

	.journal_content h1 {
		position: relative;
		right: 0.74em;
	}

	.journal_content p {
		margin: 2em 2.5em 0em 2.5em;
		text-align: justify;
		word-wrap: normal;
	}

	.circle_content h1 {
		position: relative;
		right: 0.74em;
	}

	.circle_content p {
		margin: 2em 2.5em 0em 2.5em;
		text-align: justify;
		word-wrap: normal;
	}

	.about {
		margin: 2em -2.5em 2.5em -2.5em;
	}

	.about_content h2 {
		font-size: 1.2em;
		margin: 0em -4em 1.2em 7.1em;
	}

	.about_content h2:nth-of-type(4) {

	}


	.about_content p {
		text-align: justify;
		word-wrap: normal;
	}

	.video-container iframe,
	.video-container object,
	.video-container embed {
	    position: relative;
	    top: 0;
	    left: 0;
	    width: 29em;
	    height: 20em;
	}

	.crcle_image_imac {
		position: relative; 
		margin: 4.25em auto 0 auto;
		text-align: center;
	}

	.about_content h3 {
		font-style: italic;
		font-weight: lighter;
		font-size: 0.95em;
	}

	.plan_image_2 .circle_image_2 .circle_image_2 .about_image_2 {
		margin-bottom: 2em;
	}

	#plan_before {
		margin-bottom: 6em;
	}

	#circle_before {
		margin-bottom: 6em;
	}

	#journal_before {
		margin-bottom: 5.9em;
	}

	#about_before {
		margin-bottom: 5.6em;
	}
}
